In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from tqdm import tqdm
%matplotlib inline
import requests
import seaborn as sns

In [5]:
cd 'C:\Users\Andre\Videos\mlclass-master\03_Validation'

[WinError 123] A sintaxe do nome do arquivo, do nome do diretório ou do rótulo do volume está incorreta: "'C:\\Users\\Andre\\Videos\\mlclass-master\\03_Validation'"
C:\Users\Andre\Videos\mlclass-master\03_Validation

In [10]:
ls

03_Validation.ipynb  abalone_app.xlsx     abalone_dataset.xlsx
abalone_app.csv      abalone_dataset.csv  README.md

In [20]:
data = pd.read_csv('abalone_dataset.csv')
data.head()

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,type
0,M,0.535,0.420,0.150,0.6995,0.2575,0.1530,0.2400,3
1,I,0.510,0.380,0.115,0.5155,0.2150,0.1135,0.1660,1
2,I,0.185,0.130,0.045,0.0290,0.0120,0.0075,0.0095,1
3,M,0.550,0.450,0.170,0.8100,0.3170,0.1570,0.2200,3
4,I,0.535,0.415,0.150,0.5765,0.3595,0.1350,0.2250,1

In [8]:
data.type.value_counts()

1    1078
3    1051
2    1003
Name: type, dtype: int64

In [9]:
data_test = pd.read_csv('abalone_app.csv')
data_test.head(5)

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight
0,M,0.600,0.480,0.175,1.2290,0.4125,0.2735,0.4150
1,F,0.545,0.385,0.150,1.1185,0.5425,0.2445,0.2845
2,F,0.645,0.520,0.180,1.2850,0.5775,0.3520,0.3170
3,M,0.640,0.510,0.170,1.3715,0.5670,0.3070,0.4090
4,F,0.655,0.540,0.215,1.5555,0.6950,0.2960,0.4440

<h1>Data preprocessing</h1>

In [22]:

#from sklearn.preprocessing import LabelBinarizer

#encoder = LabelBinarizer()
#new_sex_coders = encoder.fit_transform(data.sex.copy())

#df_sex = pd.DataFrame(new_sex_coders,columns=['sex0','sex1','sex2'])
#df_sex.head(5)

#data = data.drop('sex',axis=1)
#new_data = pd.concat([df_sex.reset_index(drop=True), data.reset_index(drop=True)], axis=1)
#new_data = new_data.drop('sex',axis=1)
#new_data.head(5)

data = data.drop('sex',axis=1)
data.head(3)

,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,type
0,0.535,0.42,0.150,0.6995,0.2575,0.1530,0.2400,3
1,0.510,0.38,0.115,0.5155,0.2150,0.1135,0.1660,1
2,0.185,0.13,0.045,0.0290,0.0120,0.0075,0.0095,1

<h1>Data split</h1>

In [24]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(data.drop('type',axis=1),data.type,test_size=0.2,random_state=42)
print(x_train.shape,x_test.shape)
print(y_train.shape,y_test.shape)

(2505, 7) (627, 7)
(2505,) (627,)

<h1>Hyperparameters Selection</h1>

In [33]:
def get_neighbors(n):
  neighbor = []

  neighbor.append(n+2)
  neighbor.append(1 if n-2 < 1 else n-2)
  neighbor.append(n+1)
  neighbor.append(1 if n-1 < 1 else n-1)
  neighbor.append(np.random.randint(10,100))

  return neighbor

def hill_climbing(n,iter):

  best_score = 0
  best_n = n

  for i in tqdm(range(iter)):
    for _n in get_neighbors(n):

      knn = KNeighborsClassifier(n_neighbors=_n)
      knn.fit(x_train,y_train)
      current_score = knn.score(x_test,y_test)

      #print('n={},d={} -> score={}'.format(_n[0],_n[1],current_score))
      if best_score < current_score:
        best_score = current_score
        best_n = _n

    n = best_n
    #print('i = {}, n={},d={} -> score={}'.format(i,best_n, best_d,best_score))

  return best_n,best_score

In [45]:
_n = np.random.randint(0,5)

n,score = hill_climbing(_n,300)

100%|██████████| 300/300 [03:30<00:00,  1.43it/s]

In [46]:
print('Best_n = {}, Best_score= {}'.format(n,score))

Best_n = 58, Best_score= 0.6602870813397129

<h1>Define Model</h1>

In [38]:
from sklearn.model_selection import cross_val_score
from sklearn.neighbors import KNeighborsClassifier


#rfc = RandomForestClassifier(n_estimators=7,max_depth=8)
#rfc.fit(x_train,y_train)

knn = KNeighborsClassifier(n_neighbors=58)
knn.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=58, p=2,
                     weights='uniform')

<h1>Model Valitation</h1>

In [39]:
knn.score(x_test,y_test)

0.6602870813397129

<h1>Model Predict</h1>

In [41]:
data_test = pd.read_csv('abalone_app.csv')
data_test.head(5)

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight
0,M,0.600,0.480,0.175,1.2290,0.4125,0.2735,0.4150
1,F,0.545,0.385,0.150,1.1185,0.5425,0.2445,0.2845
2,F,0.645,0.520,0.180,1.2850,0.5775,0.3520,0.3170
3,M,0.640,0.510,0.170,1.3715,0.5670,0.3070,0.4090
4,F,0.655,0.540,0.215,1.5555,0.6950,0.2960,0.4440

In [42]:

#test_sex_coders = encoder.transform(data_test.sex.copy())

#df_sex_test = pd.DataFrame(test_sex_coders,columns=['sex0','sex1','sex2'])
#df_sex_test.head(5)

#new_data_test = pd.concat([df_sex_test.reset_index(drop=True), data_test.reset_index(drop=True)], axis=1)
#new_data_test = new_data_test.drop('sex',axis=1)
#new_data_test.head(5)

data_app = data_test.drop('sex',axis=1)
data_app.head(5)

,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight
0,0.600,0.480,0.175,1.2290,0.4125,0.2735,0.4150
1,0.545,0.385,0.150,1.1185,0.5425,0.2445,0.2845
2,0.645,0.520,0.180,1.2850,0.5775,0.3520,0.3170
3,0.640,0.510,0.170,1.3715,0.5670,0.3070,0.4090
4,0.655,0.540,0.215,1.5555,0.6950,0.2960,0.4440

In [43]:
y_pred = rfc.predict(data_app)
y_pred

array([3, 2, 2, ..., 3, 1, 2])

<h1>Submit predicted values</h1>

In [44]:
# Enviando previsões realizadas com o modelo para o servidor
URL = 'https://aydanomachado.com/mlclass/03_Validation.php'

#TODO Substituir pela sua chave aqui
DEV_KEY = "Andre Santos"

# json para ser enviado para o servidor
data = {'dev_key':DEV_KEY,
        'predictions':pd.Series(y_pred).to_json(orient='values')}

# Enviando requisição e salvando o objeto resposta
r = requests.post(url = URL, data = data)

# Extraindo e imprimindo o texto da resposta
pastebin_url = r.text
print(" - Resposta do servidor:\n", r.text, "\n")

 - Resposta do servidor:
 {"error":{"code":102,"message":"Espere ao menos 12 horas entre dois envios, tempo restante 00 dias 11 horas 11 minutos 29 segundos"}}